# Project files
results
notebooks
runs
data/
logs

# Python
*__pycache__*
*.ipynb_checkpoints*
*.npy
*.pyc

# vim / vscode
*.swp
*.swo
*.vscode

# Aux files
*.log

# keys/tokens
keys.py

# but...
!configs/data



